body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li span {
    flex: 1;
    margin-right: 10px;
}

li button {
    background-color: #dc3545;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px;
    color: white;
}

li button:hover {
    background-color: #c82333;
}
